# Day1 - 220726

### Hello, World 출력
- print()를 이용해서 화면에 Hello, World을 출력합니다.

In [22]:
print("Hello, World!")
print("My name is Minji.")

Hello, World!
My name is Minji.

In [23]:
print("Hello, World!")
# print("Hello, World!") 주석은 출력되지 않는다.

Hello, World!

### 산술 연산자

In [18]:
print(7 + 3)
print(7 - 3)
print(7 * 3)

# 나누기
print(7 / 3)
print(7 % 3)
print(7 // 3)
print(7 ** 3)

10
4
21
2.3333333333333335
1
2
343

### 변수명 설정하기

In [20]:
minji = 1025
print(minji)

1025

파이썬 안의 내장 함수는 변수명으로 사용 불가, keyword.kwlist로 예약어 목록 확인 가능

In [21]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [24]:
a = 100
print(a)

100

In [36]:
# 현재까지 정의된 변수 목록 확인하기
whos

Variable   Type      Data/Info
------------------------------
a          int       98
boolVar    bool      True
floatVar   float     123.45
intVar     int       100
keyword    module    <module 'keyword' from '/<...>ib/python3.9/keyword.py'>
minji      int       1025
name       list      n=1
strVar     str       Python

### 기본자료형 : boolean, integer, float, string

In [26]:
boolVar = True
intVar = 100
floatVar = 123.45
strVar = "Python"

type(boolVar), type(intVar), type(floatVar), type(strVar)

(bool, int, float, str)

### 대입연산자

In [34]:
a = 100
a += 2
print(a)

102

In [35]:
a = 100
a-= 2
print(a)

98

In [32]:
a = 100
a *= 2
print(a)

200

In [33]:
a = 100
a /= 2
print(a)

50.0

### print

변수명만 출력할 경우 작은따옴표가 둘러싸인다.

In [41]:
name = input("Enter your name : ")
print(name, type(name))

Enter your name : minji
minji <class 'str'>

In [42]:
name = input("Enter your name : ")
name
type(name)

Enter your name : minji

str

문자열 띄어쓰기는 ,로 한다.

In [43]:
print("My" "name" "is" "Minji.")
print("My" + "name" + "is" + "Minji.")
print("My", "name", "is", "Minji.")

MynameisMinji.
MynameisMinji.
My name is Minji.

In [44]:
print("python " * 3)

python python python

In [48]:
# 숫자형의 변수를 출력하고자 하는 경우

print("I eat %d apples." % 3)

number = 10
day = "three"
print("I eat %d apples and %s grapes." % (number, day))

I eat 3 apples.
I eat 10 apples and three grapes.

---------------------------------
## <과제>

### 문제 1

In [49]:
F = int(input("화씨온도를 입력해주세요. : "))
C = (F - 32) * 5 / 9

print("화씨온도: ", F)
print("섭씨온도: ", C)

화씨온도를 입력해주세요. : 100
화씨온도:  100
섭씨온도:  37.77777777777778

### 문제 2

In [56]:
money = int(input("투입한 돈: "))
cost = int(input("물건값: "))

change_sum = money - cost
change500 = change_sum // 500
change_sum2 = change_sum - change500 * 500
change100 = change_sum2 // 100

print("거스름돈: ", change_sum)
print("500원짜리: ", change500, "개")
print("100원짜리: ", change100, "개")

투입한 돈: 5000
물건값: 2700
거스름돈:  2300
500원짜리:  4 개
100원짜리:  3 개

### 문제 3

In [59]:
r = int(input("반지름을 입력하시오: "))

pi = 3.141592
length = 2 * pi * r
width = pi * (r ** 2)

print("원 둘레: ", round(length, 2))
print("원 넓이: ", round(width, 2))

반지름을 입력하시오: 5
원 둘레:  31.42
원 넓이:  78.54