# Day2 - 220727

### 문자열 연결 및 반복

In [1]:
'Python' + 'is' + 'fun!'

'Pythonisfun!'

In [2]:
'Python' * 3

'PythonPythonPython'

### 문자열 슬라이싱

In [10]:
word = 'python'

print(word[0:2])
print(word[:2])
print(word[2:])
print(word[:-1])
print(word[:])
print(word[::2])     # 스텝 = 2, 앞에서부터 2칸마다 출력
print(word[::-2])    # 스텝 = -2, 뒤에서부터 2칸마다 출력

py
py
thon
pytho
python
pto
nhy

### 문자열 관련 함수

In [13]:
word = 'python'

print('o' in word)
print('x' in word)
print('on' in word)

True
False
True

In [15]:
word = 'python'

print(len(word))
print(word.count('t'))   # 특정 문자의 개수 세기
print(word.index('t'))   # 특정 문자의 인덱스 출력하기

6
1
2

In [17]:
a = ','
a.join('1234')

'1,2,3,4'

In [24]:
## len() 함수를 인덱스로 활용할 수도 있다.

word = 'Hello'
word[len(word)-1]

'o'

In [27]:
s = 'Python is fun!'
print(s.split(), type(s.split()))

s = 'Python:is:fun!'
print(s.split(':'), type(s.split(':')))

['Python', 'is', 'fun!'] <class 'list'>
['Python', 'is', 'fun!'] <class 'list'>

In [31]:
# \n : 줄바꿈
s = 'Pyth\non is fun!'
print(s)

# \t : 탭
s = 'Pyth\ton is fun!'
print(s)

Pyth
on is fun!
Pyth	on is fun!

### 리스트

In [32]:
a = [5, 4, 2, 4, 3, 1]
b = [2, 1, 1, 3, 2, 1]

print(a + b)      # 리스트를 그대로 이어붙임
print(a * 3)

[5, 4, 2, 4, 3, 1, 2, 1, 1, 3, 2, 1]
[5, 4, 2, 4, 3, 1, 5, 4, 2, 4, 3, 1, 5, 4, 2, 4, 3, 1]

In [38]:
a = [5, 4, 2, 4, 3, 1]
print('바꾸기 전 :', a)

a[3] = 1
print('바꾼   후 :', a)

바꾸기 전 : [5, 4, 2, 4, 3, 1]
바꾼   후 : [5, 4, 2, 1, 3, 1]

In [ ]:
a = [5, 4, 2, 4, 3, 1]
print('바꾸기 전 : ', a)
del a[4]
print('바꾼   후 : ', a)

In [33]:
fruit = ['grape', 'apple', 'peach', 'watermelon']

print('watermelon' in fruit)
print('watermelon' not in fruit)
print('kiwi' in fruit)
print('kiwi' not in fruit)

True
False
False
True

In [44]:
a = [5, 4, 2, 4, 3, 1]    # 패킹
 
x, y, z, q, p, r = a      # 언패킹

print(x)
print(y)
print(z)
print(p)
print(q)
print(r)

5
4
2
3
4
1

In [60]:
# 실습 문제 4


date = input("날짜(연/월/일) 입력: ")
year, month, day = date.split("/")

print("입력한 날짜의 10년 후는 " + str(int(year) + 10) + "년 " + str(int(month)) + "월 " + str(int(day)) + "일")
print("입력한 날짜의 10년 후는 %d년 %d월 %d일" % (int(year) + 10, int(month), int(day)))

날짜(연/월/일) 입력: 2022/07/27
입력한 날짜의 10년 후는 2032년 7월 27일
입력한 날짜의 10년 후는 2032년 7월 27일

### 조건문

bool 자료형
- True와 False의 두 가지 값을 나타내는 자료

In [2]:
a = 220

if a < 100 :
    print("참")
    print("100보다 작다.")
else :
    print("거짓")
    print("100보다 크거나 같다.")

print("--- 프로그램 끝 ---")

거짓
100보다 크거나 같다.
--- 프로그램 끝 ---

In [4]:
num = int(input("정수를 입력하세요 : "))

if num > 0 :
    print("양수입니다.")
elif num < 0 :
    print("음수입니다.")
else :
    print("0입니다.")

print("--- 프로그램 끝 ---")

정수를 입력하세요 : -1293
음수입니다.
--- 프로그램 끝 ---

In [5]:
if "i" in "minji" :
    print("참입니다.")
else :
    print("거짓입니다.")
    
print("--- 프로그램 끝 ---")

참입니다.
--- 프로그램 끝 ---

In [16]:
# 조건문 - 실습1
# 합격여부를 출력하는 프로그램
# 영어 점수와 수학 점수가 합해서 110점 이상이면 합격, 각 점수가 40점 미만이면 불합격

eng = int(input("영어 점수 입력: "))
math = int(input("수학 점수 입력: "))

if eng + math < 110 :
    print("불합격: 총합 점수 부족")
elif math < 40 :
    print("불합격: 수학 점수 부족")
elif eng < 40 :
    print("불합격: 영어 점수 부족")
else :
    print("합격")

영어 점수 입력: 50
수학 점수 입력: 50
불합격: 총합 점수 부족

In [34]:
# 조건문 - 실습2
# 세 개의 정수 중 가장 큰 수만 출력하는 프로그램 작성하기
# 반복문, max함수, 정렬 함수 사용 불가

numbers = input("세 개의 수를 입력하시오: ")
a, b, c = map(int, numbers.split())


if a > b :
    if a > c :
        print("가장 큰 수는 %d입니다." % a)
    else :
        print("가장 큰 수는 %d입니다." % c)
else :
    if b > c :
        print("가장 큰 수는 %d입니다." % b)
    else :
        print("가장 큰 수는 %d입니다." % c)

세 개의 수를 입력하시오: 30 22 50
가장 큰 수는 50입니다.

### 반복문

In [40]:
sums = 0
number = 1

while number <= 10 :
    sums += number
    number += 1

print("1부터 10까지의 합 : %d" % sums)

1부터 10까지의 합 : 55

#### range() 함수

In [59]:
for x in range(5) :
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [62]:
'dddd'.__contains__('dd')

True

In [65]:
# 반복문 - 실습 1
# 구구단 출력


num = int(input("출력하고 싶은 단을 입력하세요: "))

for i in range(1,10) :
    print(num, "*", i, "=", num * i)

출력하고 싶은 단을 입력하세요: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [67]:
num = int(input("출력하고 싶은 단을 입력하세요: "))
i = 1

while i < 10 :
    print(num, "*", i, "=", num * i)
    i += 1

출력하고 싶은 단을 입력하세요: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [69]:
num = int(input("출력하고 싶은 단을 입력하세요: "))

for i in range(1,10) :
    print("%d * %d = %d" % (num, i, num * i))

출력하고 싶은 단을 입력하세요: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [10]:
# 반복문 - 실습2
# ★ 출력 프로그램

number = input("Input an integer: ")

for i in range(len(number)) :
    val = int(number[i])   
    print("★" * val)

Input an integer: 3159
★★★
★
★★★★★
★★★★★★★★★

In [16]:
x = 3159

for x in number :
    x = int(x)
    for _ in range(x) :
        print("★", end = "")
    print("")

★★★
★
★★★★★
★★★★★★★★★

In [18]:
number = str(3159)
i = 0

while i < len(number) :
    x = int(number[i])
    print("★" * x)
    i += 1

★★★
★
★★★★★
★★★★★★★★★

### break, continue

In [19]:
for i in range(1, 11) :
    if i > 5 :
        break
    print(i)

1
2
3
4
5

### 리스트

In [21]:
colors = ["blue", "green"]
print("전 : ", colors)

colors.append("red")
print("후 : ", colors)

전 :  ['blue', 'green']
후 :  ['blue', 'green', 'red']

In [22]:
colors = ["red", "blue", "green", "red"]
print("전 : ", colors)

colors.remove("red")
print("후 : ", colors)

전 :  ['red', 'blue', 'green', 'red']
후 :  ['blue', 'green', 'red']

In [25]:
colors = ["red", "blue", "green"]
print("전 : ", colors)

colors.sort()
print("후 : ", colors)

전 :  ['red', 'blue', 'green']
후 :  ['blue', 'green', 'red']

In [23]:
a = [1, 7, 9, 2, 5]
print("전 : ", a)

a.sort()
print("후 : ", a)

전 :  [1, 7, 9, 2, 5]
후 :  [1, 2, 5, 7, 9]

In [26]:
a = [1, 7, 9, 2, 5]
print("전 : ", a)

a.reverse()
print("후 : ", a)

전 :  [1, 7, 9, 2, 5]
후 :  [5, 2, 9, 7, 1]

In [27]:
a = [1, 7, 9, 2, 5]

print(max(a))
print(min(a))
print(sum(a))

9
1
24

In [20]:
# 리스트 - 실습1

lst = []

while True :
    num = input("Enter a number: ")
    lst.append(num)
    
    if num == "done" :
        break
        
        
lst.remove("done") 
lst = list(map(float, lst))

avg = sum(lst) / len(lst)
maxi = max(lst)
mini = min(lst)

print("\n")
print(lst)
print("Average: %.1f" % avg)
print("Maximum: %.1f" % maxi)
print("Minimum: %.1f" % mini)

Enter a number: 7
Enter a number: 2
Enter a number: 9
Enter a number: 3
Enter a number: 5
Enter a number: done


[7.0, 2.0, 9.0, 3.0, 5.0]
Average: 5.2
Maximum: 9.0
Minimum: 2.0