<a href="https://colab.research.google.com/github/mjiii25/posco-academy/blob/main/week1/HW4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW4

C반 1조 성민지

---



### 실습 7

숫자로 구성된 리스트를 전달받아 최댓값, 최솟값을 반환하고, 두 수를 리스트에서 제거하는 함수를 작성하시오. (단, 리스트에 원소는 2개 이상 존재한다고 가정)

In [ ]:
def get_min_max(l) :
    
    min_val = min(l)
    max_val = max(l)

    l.remove(min(l))
    l.remove(max(l))
    
    return min_val, max_val


l = [3, 5, 9, 1, 2]
min_val, max_val = get_min_max(l)

print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

### 실습 8

두 딕셔너리를 전달받아 각 딕셔너리에 등장한 값을 모두 더한 새로운 딕셔너리를 반환하는 함수 comb_dict()를 작성하시오.

In [ ]:
def comb_dict(d1, d2) :

    comb = {}


    for x in d2.keys() :
        if x in d1.keys() :
            comb[x] = d1[x] + d2[x]
        else :
            comb[x] = d2[x]
    
    for y in d1.keys() :
        if y not in comb.keys() :
            comb[y] = d1[y]



    return comb



d1 = {'a' : 1, 'b' : 3, 'd' : 7, 'e' : 8}
d2 = {'a' : 2, 'c' : 4, 'e' : 1}
d3 = comb_dict(d1, d2)
print(d3)

{'a': 3, 'c': 4, 'e': 9, 'b': 3, 'd': 7}

### 실습 9

숫자를 2개 이상 입력 받아, 최댓값과 최솟값의 차를 반환하는 함수를 작성하시오.

In [ ]:
def diff(num1, *nums) :

    for x in nums :
        lst = [num1, *nums]
        result = max(lst) - min(lst)
    
    return result



print(diff(1,2,3,4,5))
print(diff(-100, 200))

4
300