# Day03 - 22/07/25

## 튜플(tuple)

In [3]:
t1 = ()
t2 = tuple()
t3 = (100,)       # ,를 추가하여 튜플임을 표시함
t4 = (100)

print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>

In [5]:
t = (1, 2, 3, 4, 5, 6)

print(t[0])
print(t[:3])
print(t[4:6])

1
(1, 2, 3)
(5, 6)

* 튜플의 인덱싱은 0이 아닌 1부터 시작함

In [7]:
# 튜플은 원소값을 수정할 수 없음 (리스트와 가장 큰 차이점)

t = (1, 2, 3, 4, 5, 6)

t[0] = 7

TypeError: 'tuple' object does not support item assignment

#### 튜플 패킹, 언패킹

In [8]:
# 패킹

a = 1, 2, 3
print(a)

(1, 2, 3)

In [9]:
# 언패킹

one, two, three = a
print(one, two, three)

1 2 3

In [10]:
# 값의 위치
print(a.index(1))

# 값과 일치하는 요소의 개수
print(a.count(1))

0
1

---
## 집합(set)
- 순서없음
- 중복 안 됨

In [13]:
s1 = {1, 2, 3}
s2 = set([1, 2, 3])

print(s1, type(s1))
print(s2, type(s2))

{1, 2, 3} <class 'set'>
{1, 2, 3} <class 'set'>

In [14]:
s = {1, 2, 3, 4, 5, 3, 4}
print(s)

{1, 2, 3, 4, 5}

#### 집합 관련 함수

In [15]:
s = {1, 2, 3, 4, 5, 3, 4}
print("전 : ", s)

s.add(10)
print("후 : ", s)

전 :  {1, 2, 3, 4, 5}
후 :  {1, 2, 3, 4, 5, 10}

In [16]:
s = {1, 2, 3, 4, 5, 3, 4}
print("전 : ", s)

s.remove(2)
print("후 : ", s)

전 :  {1, 2, 3, 4, 5}
후 :  {1, 3, 4, 5}

In [17]:
s = {1, 2, 3, 4, 5, 3, 4}
print("전 : ", s)

s.update([1, 3, 5, 7, 9])
print("후 : ", s)

전 :  {1, 2, 3, 4, 5}
후 :  {1, 2, 3, 4, 5, 7, 9}

In [18]:
s = {1, 2, 3, 4, 5, 3, 4}
print("전 : ", s)

s.discard(7)              # 없으면 그대로 출력하라
print("후 : ", s)

전 :  {1, 2, 3, 4, 5}
후 :  {1, 2, 3, 4, 5}

In [19]:
s = {1, 2, 3, 4, 5, 3, 4}
print("전 : ", s)

s.clear()
print("후 : ", s)

전 :  {1, 2, 3, 4, 5}
후 :  set()

#### 합집합, 교집합, 차집합

In [23]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}


print("합집합1 : ", s1.union(s2))
print("합집합2 : ", s1 | s2)

print("")

print("교집합1 : ", s1.intersection(s2))
print("교집합2 : ", s1 & s2)

print("")

print("차집합 : ", s1 - s2)

합집합1 :  {1, 2, 3, 4, 5}
합집합2 :  {1, 2, 3, 4, 5}

교집합1 :  {3}
교집합2 :  {3}

차집합 :  {1, 2}

In [39]:
# 집합 - 실습


s3 = set()
s5 = set()

for i in range(1, 101) :
    if i % 3 == 0 :
        s3.add(i)
        
for j in range(1, 101) :
    if j % 5 == 0 :
        s5.add(j)
        
s = s3 & s5

print(s)
print("%d와 %d의 공배수: %d개" % (3, 5, len(s)))

{75, 45, 15, 90, 60, 30}
3와 5의 공배수: 6개

------

## 딕셔너리(dictionary)

In [40]:
d = {'Kim' : 10, 'Park': 3}

print(d['Kim'])

10

In [41]:
d = {'Kim' : 10, 'Park': 3}
print("전 : ", d)

d['Lee'] = 7
print("후 : ", d)

전 :  {'Kim': 10, 'Park': 3}
후 :  {'Kim': 10, 'Park': 3, 'Lee': 7}

In [46]:
d = {'Kim' : 10, 'Park': 3}

print("d.keys() : ", d.keys())
print("d.values() : ", d.values())
print("d.items() : ", d.items())

d.keys() :  dict_keys(['Kim', 'Park'])
d.values() :  dict_values([10, 3])
d.items() :  dict_items([('Kim', 10), ('Park', 3)])

In [49]:
d = {'Kim' : 10, 'Park': 3}
print("전 : ", d)

del d['Kim']
print("후 : ", d)

전 :  {'Kim': 10, 'Park': 3}
후 :  {'Park': 3}

In [51]:
d = {'Kim' : 10, 'Park': 3}
print("전 : ", d)

d.clear()
print("후 : ", d)

전 :  {'Kim': 10, 'Park': 3}
후 :  {}

In [58]:
# 딕셔너리 - 실습



sentence = input("Enter a sentence: ")
sentence_dic = {}



for i in sentence :
    if i not in sentence_dic :
        sentence_dic[i] = 1
    else :
        sentence_dic[i] += 1

        
        
print(sentence_dic)

Enter a sentence: Python is fun!
{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1, '!': 1}

---

# 함수와 모듈

- 매개변수와 반환값은 없을 수 있음
- 반환값은 없더라도 None을 출력함

In [60]:
def add3add5() :
    return 8


add3add5()

8

In [63]:
def add_and_mul(a,b) :
    return a+b, a*b

print(add_and_mul(2,3))

add, _ = add_and_mul(2,3)
print(add)

(5, 6)
5

In [72]:
# 실습 1


def my_len(x) :
    
    idx = x.index(x[-1]) - x.index(x[0]) + 1
    return idx



a = [5, 5, 6, 7, 8, 3]
b = 'Life is short.'

print(my_len(a), my_len(b))

6 14

In [73]:
def my_len(x) :
    count = 0
    
    for i in x :
        count += 1
    return count

a = [5, 5, 6, 7, 8, 3]
b = 'Life is short.'

print(my_len(a), my_len(b))

6 14

In [74]:
# 실습 2


def mult(a,b) :
    num = 1
    
    for i in range(a,b+1) :
        num *= i
    
    return num


print(mult(1,3))
print(mult(2,5))

6
120

In [ ]:
def mult(a,b) :
    
    if a == b :
        return a
    
    return mult(a,b-1) * b

In [79]:
# 실습 3


def sum_pos_neg(l) :
    pos = []
    neg = []
    
    for i in l :
        if i > 0 :
            pos.append(i)
        elif i < 0 :
            neg.append(i)
            
    possum = sum(pos)
    negsum = sum(neg)
    
    return possum, negsum


possum, negsum = sum_pos_neg([3, 4, -6, -3])
print(possum, negsum)

mylist = [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -1]
possum2, negsum2 = sum_pos_neg(mylist)
print(possum2, negsum2)

7 -9
1 -1

In [80]:
def sum_pos_neg(l) :
    pos = 0
    neg = 0
    
    for i in l :
        if i > 0 :
            pos += i
        elif i < 0 :
            neg += i
    
    return pos, neg


possum, negsum = sum_pos_neg([3, 4, -6, -3])
print(possum, negsum)

mylist = [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -1]
possum2, negsum2 = sum_pos_neg(mylist)
print(possum2, negsum2)

7 -9
1 -1

In [82]:
def sum_pos_neg(l) :
    if not l :
        return 0, 0
    
    x = l.pop()
    pos, neg = sum_pos_neg(l)
    
    if x > 0 :
        pos += x
    elif x < 0 :
        neg += x
        
    return pos, neg



possum, negsum = sum_pos_neg([3, 4, -6, -3])
print(possum, negsum)

mylist = [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, -1]
possum2, negsum2 = sum_pos_neg(mylist)
print(possum2, negsum2)

7 -9
1 -1

#### 매개변수

In [83]:
def count_even(*n) :
    cnt = 0
    
    for v in n :
        if v % 2 == 0 :
            cnt += 1
    return cnt

count_even(1,2,3,4,5)

2

In [94]:
# 실습 4



def vector_sum(vector, *vectors) :
    
    cnt1 = vector[0]
    cnt2 = vector[1]
    
    for i in vectors :
        cnt1 += i[0]
        cnt2 += i[1]
        
    answer = [cnt1, cnt2]
    return answer


v1 = [0, 1]
v2 = [0.5, 0.5]
v3 = [1, 0]
v4 = [6, 4]
v5 = [3.14, 2.72]

m1 = vector_sum(v1, v2, v3)
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)


print(m1, m2, m3)

[1.5, 1.5] [7.5, 5.5] [4.140000000000001, 2.72]

In [96]:
def vector_sum(vector, *vectors) :
    result = vector.copy()
    
    for x, y in vectors :
        result[0] += x
        result[1] += y
    
    return result
        
        
        
v1 = [0, 1]
v2 = [0.5, 0.5]
v3 = [1, 0]
v4 = [6, 4]
v5 = [3.14, 2.72]

m1 = vector_sum(v1, v2, v3)
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)

print(m1, m2, m3)

[1.5, 1.5] [7.5, 5.5] [4.140000000000001, 2.72]

### 디폴트 매개변수

In [98]:
def print_name(first, second = "Kim") :
    print('My name is ', first, second + '.')
    
print_name('Gildong', 'Hong')
print_name('Gildong')

My name is  Gildong Hong.
My name is  Gildong Kim.

def print_name(first, second = 'Kim') :

def print_name(first = 'Kim', second) :        #### ERROR

def print_name(first, second, third = 'Kim') :

def print_name(first, second = 'Kim', third = 'M') :
def print_name(first, second = 'Kim', third = 'M') :

In [99]:
def calc(x, y = 0, z = 0) :
    return x + y + z

calc(y = 20, x = 10, z = 30)

60

In [118]:
# 실습 5




def merge_list(l = [0], k = [0]) :

    result = l + k
    result.sort()
    
    return result


l = [3, 5, 9, 1, 2]
ml1 = merge_list(l, [2, 1])
ml2 = merge_list([6, 9, 4])
ml3 = merge_list()

print(ml1)
print(ml2)
print(ml3)

[1, 1, 2, 2, 3, 5, 9]
[0, 4, 6, 9]
[0, 0]

### 지역변수, 전역변수

In [6]:
import import_ipynb
import arth

In [7]:
print(arth.add(3,4))

AttributeError: module 'arth' has no attribute 'add'

In [23]:
import random

l = [1, 2, 3, 4, 5]
random.randrange(0, 10)

4

In [12]:
# 실습 6


import random


num_lst = []
print("** 로또 번호 자동 기입을 시작합니다 **")


for i in range(5) :
    
    while len(num_lst) <= 5 :
        num = random.randrange(1, 46)
    
        if num in num_lst :
            continue
    
        num_lst.append(num)
        
        
    print(i+1, "번째 자동 기입 ==> ", *num_lst)
    num_lst = []

** 로또 번호 자동 기입을 시작합니다 **
1 번째 자동 기입 ==>  5 11 2 30 22 25
2 번째 자동 기입 ==>  16 31 2 23 30 3
3 번째 자동 기입 ==>  19 3 44 24 8 26
4 번째 자동 기입 ==>  33 44 37 11 39 4
5 번째 자동 기입 ==>  44 7 19 16 15 20

In [16]:
import random

num_lst = []
print("** 로또 번호 자동 기입을 시작합니다 **")

for i in range(1, 46) :
    num_lst.append(i)
    
for i in range(1, 6) :
    result = random.sample(num_lst, 6)
    result.sort()
    print("%d번째 자동 기입 ==> " % i, *result)

** 로또 번호 자동 기입을 시작합니다 **
1번째 자동 기입 ==>  8 17 22 29 30 41
2번째 자동 기입 ==>  1 2 12 21 22 28
3번째 자동 기입 ==>  11 14 19 25 27 34
4번째 자동 기입 ==>  5 7 18 22 26 45
5번째 자동 기입 ==>  7 17 27 32 35 39

---
## 파일

### 파일 쓰기

#### 최초 생성할 때

In [19]:
fw = open("new.txt", "w")

In [20]:
for i in range(1, 6) :
    data = "%d line\n" % i
    fw.write(data)

In [21]:
fw.close()

#### 내용을 추가할 때

In [22]:
fw = open("new.txt", "a")

In [23]:
for i in range(11, 16) :
    data = "%d line\n" % i
    fw.write(data)

In [24]:
fw.close()

.

In [38]:
fr = open("new.txt", "r")

In [28]:
line = fr.readline()             # 줄바꿈까지 확인 가능

In [31]:
line

'3 line\n'

In [32]:
fr.tell()

21

In [33]:
line

'3 line\n'

In [34]:
fr.close()

In [39]:
fr = open("new.txt", "r")

while True :
    line = fr.readline()
    
    if line == '' :
        break
        
    print(line, end = '')
    
fr.close()

1 line
2 line
3 line
4 line
5 line
11 line
12 line
13 line
14 line
15 line

In [40]:
fr = open("new.txt", "r")
lines = fr.readlines()
print(lines)

fr.close()

['1 line\n', '2 line\n', '3 line\n', '4 line\n', '5 line\n', '11 line\n', '12 line\n', '13 line\n', '14 line\n', '15 line\n']

In [ ]:
fr = open("new.txt", "r")

for line in fr :
    print(line, end = "")
    
fr.close()

In [42]:
# 파일 - 실습 1


test = open("test.txt", "r")


lines = test.readlines()
lines

['first line python is fun\n',
 'second line\n',
 'third line\n',
 'have a good time']